"*":
  "atom-css-comb":
    commonConfigs: "/Users/dmitrij/.csscomb.json"
    readyMadeConfigs: "zen"
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "language-javascript"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    preferredLineLength: 100
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/**"
    ]
  welcome:
    showOnStartup: false
