"*":
  "atom-css-comb":
    commonConfigs: "/Users/dmitrij/.csscomb.json"
    readyMadeConfigs: "zen"
  "atom-ternjs":
    excludeLowerPriorityProviders: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "language-javascript"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ternjs"
      "emmet"
      "highlight-selected"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    preferredLineLength: 90
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "9ead58ad-0e10-47b4-b214-710d81ae51fa"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/**"
    ]
  "linter-ui-default":
    panelHeight: 69
  welcome:
    showOnStartup: false
