"*":
  "atom-css-comb":
    commonConfigs: "/Users/dmitry/.csscomb.json"
    readyMadeConfigs: "zen"
  "atom-ternjs":
    excludeLowerPriorityProviders: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-javascript"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "276092c4-1009-46ec-8be0-421fa9a64761"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/**"
    ]
  welcome:
    showOnStartup: false
