"*":
  core:
    disabledPackages: [
      "language-javascript"
      "exception-reporting"
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ternjs"
    ]
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Menlo"
    preferredLineLength: 100
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/**"
    ]
  welcome:
    showOnStartup: false
