"*":
  "atom-css-comb":
    commonConfigs: "/Users/dmitrij/.csscomb.json"
    readyMadeConfigs: "zen"
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Menlo"
    preferredLineLength: 100
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules/**"
    ]
  linter:
    showErrorPanel: false
  welcome:
    showOnStartup: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
".lisp.source":
  editor:
    preferredLineLength: 100
".plist.source":
  editor:
    preferredLineLength: 100
".plist.text.xml":
  editor:
    preferredLineLength: 100
